.boxContainer {
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  margin: 0;
  padding: 0;
  top: 50px;
  left: 50px;
  .box {
    text-decoration: none;
    position: absolute;
    display: block;
    width: 210px;
    height: 80px;
    background: #fff;
    padding: 10px;
    border: 2px solid #000;

    span {
      padding: 0;
      margin: 0;
      position: absolute;
      transition: 0.5s;
      letter-spacing: 4px;
      left: 30px;
      top: 30px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 101%;
      height: 100%;
      width: 5%;
      background: #fff;
      transform: rotate(0deg) skewY(60deg);
      border-top: 2px;
      border-left: 0px;
      border-right: 2px;
      border-bottom: 1px;
      border-color: black;
      border-style: solid;
    }

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 5px;
      height: 25%;
      width: 100%;
      background: #fff;
      transform: rotate(0deg) skewX(30deg);
      border-top: 1px;
      border-left: 2px;
      border-right: 1px;
      border-bottom: 2px;
      border-color: black;
      border-style: solid;
    }

    &:hover {
      transform: translate(-10%, -10%);

      &::before {
        top: 17px;
        left: 101%;
        width: 10%;
      }

      &::after {
        left: 9px;
        height: 45%;
      }
    }

    &:active {
      transform: translate(10%, 10%);
      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }
  }
}
