@import "mixin";

.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 99%;
  font-size: 2.5vmax;
  // background-image: url("/img/Getinvolved.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 70% auto;
  background-color: #b2b2b2;
  box-shadow: 10px 10px #24262d;
  border: 4px solid #24262d;
  &:hover {
    // background-image: url("/img/Getinvolved.png");
    background-size: 70% auto;
    background-color: #b2b2b2;
    transform: translate(-4px, -4px);
    box-shadow: 12px 12px #24262d;

    // .textContainer {
    //   width: 100%;
    //   height: 100%;
    // }
  }
  &:active {
    // background-image: url("/img/Getinvolvedwhite.png");
    background-size: 70% auto;
    background-color: #b2b2b2;
    transform: translate(4px, 4px);
    box-shadow: none;
    // .textContainer {
    //   width: 96%;
    //   height: 96%;
    // }
  }
  .textContainer {
    position: relative;
    width: 98%;
    height: 98%;
  }
  p {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 40%;
    font-weight: 700;
  }
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@include tablet-screen-up {
  .btn {
    box-shadow: 5px 5px #24262d;
    height: 100%;
    width: 100%;
    background-size: 50% auto;
    &:hover {
      box-shadow: 6px 6px #24262d;
    }
    &:active {
      box-shadow: none;
    }
  }
  .btnContainer.footerButton {
    height: 30vh !important;
    width: 70vw !important;
    margin-bottom: 10px;
  }
}
@include phone-screen {
  .btn {
    box-shadow: 5px 5px #24262d;
    height: 100%;
    width: 100%;
    background-size: 50% auto;
    &:hover {
      box-shadow: 6px 6px #24262d;
    }
    &:active {
      box-shadow: none;
    }
  }
  .btnContainer.footerButton {
    height: 20vh !important;
    width: 95vw !important;
    margin-bottom: 10px;
  }
}
@include tablet-landscape {
  .btn {
    box-shadow: 5px 5px #24262d;
    height: 100%;
    width: 100%;
    background-size: 30% auto;
    &:hover {
      box-shadow: 6px 6px #24262d;
    }
    &:active {
      box-shadow: none;
    }
  }
  .btnContainer.footerButton {
    height: 30vh !important;
    width: 70vw !important;
    margin-bottom: 10px;
  }
}
