@import "mixin";

.footer {
  width: 100%;
  opacity: 1;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  div {
    width: 50%;
    text-align: center;
    color: white;
  }

  .flexContainerLeft {
    display: flex;
    flex-direction: column;
    background-color: #24262d;
    padding-bottom: 10px;

    .shortcutlogo {
      width: 170px;
      height: auto;
      // margin-left: -40px;
      margin-top: 10px;
      margin-left: 10px;
    }

    .flexContainerMedia {
      display: flex;
      margin-left: 14px;
      div {
        width: 25%;
      }

      .logo {
        height: 25px;
        width: 25px;
      }
    }

    .infoLeft {
      margin-top: 5px;
      margin-bottom: 5px;
      margin-left: 30px;
      text-align: left;
      font-size: 11px;
      letter-spacing: 0;
      color: #b2b2b2;
      opacity: 1;
      font-weight: normal;
      font-style: normal;
    }
  }
  .flexContainerRight {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    background-color: #24262d;
    padding-bottom: 10px;
    padding-left: 10px;

    div {
      width: 50%;
    }

    .subscribe {
      width: 100%;

      .newsletter {
        width: 100%;
        font-size: 14px;
        text-align: left;
        color: #b2b2b2;
        font-weight: bold;
        opacity: 1;
        margin-top: 20px;
      }

      .flexContainerInput {
        display: flex;

        .text {
          background: #24262d 0% 0% no-repeat padding-box;
          border: 1px solid #999999;
          opacity: 1;
          margin-top: 5px;
          width: 180px;
          height: 24px;
          padding: 10px;
          color: white;
        }

        .go {
          width: 38px;
          height: 24px;
          background: #000000 0% 0% no-repeat padding-box;
          border: 1px solid #999999;
          opacity: 1;
          color: #b2b2b2;
          margin-top: 5px;

          @include tablet-landscape {
            padding: 0 5px;
          }
        }
      }
    }

    .contact {
      background: #000000 0% 0% no-repeat padding-box;
      border: 1px solid #b2b2b2;
      border-radius: 2px;
      opacity: 1;
      color: #b2b2b2;
      width: 112px;
      height: 21px;
      margin-top: 20px;
      font-weight: bold;
    }

    .info {
      margin-top: 4px;
      margin-bottom: 4px;
      text-align: left;
      font-size: 11px;
      letter-spacing: 0;
      color: #b2b2b2;
      opacity: 1;
      font-weight: normal;
      font-style: normal;
    }
  }

  @include tablet-screen-up {
    flex-direction: column;
    div {
      width: 100%;
    }
    .flexContainerLeft {
      justify-content: center;
      align-items: center;
    }

    .flexContainerRight {
      justify-content: center;
      align-items: center;
      div {
        width: 90%;
      }
      .subscribe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .newsletter {
          width: auto;
        }

        .flexContainerInput {
          .text {
            width: 100%;
            height: 100%;
          }
          .go {
            width: 30%;
            height: auto;
          }
        }
      }
    }
  }
}
