@import "mixin";

.getInvolved {
    display: flex;
    flex-direction: column;
}

.item1 {
    font-size: 2vw;
    margin: 3em auto 3em auto;
    max-width: 20em;
    text-align: center;
}

.item2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
 }

 .btnImage {
    position: relative;
 }

 .btnImage > img {
    position: absolute;
    width: 100%;
    top: -10px;
    left: -20px;
 }



@include phone-screen {

    .item2 {
        flex-direction: column;
    }

    .item2 > div {
        place-self: center;
        margin-bottom: 1em;
    }

    .btnImage > img {
        position: absolute;
        width: 100%;
        top: -5px;
        left: -10px;
     }
    }

@include tablet-screen-up {

    .item2 {
        flex-direction: column;
    }


    .item2 > div {
        place-self: center;
        margin-bottom: 1em;
    }

    .btnImage > img {
        position: absolute;
        width: 100%;
        top: -7px;
        left: -10px;
     }
    }

    @include big-desktop-screen {

        
        .btnImage > img {
            position: absolute;
            width: 100%;
            top: -15px;
            left: -10px;
         }
        }