@import "mixin";

.Header {
  height: 15vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2vmax;
  align-items: center;
}
.headerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
}

.headerLeft,
.headerRight {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  p {
    margin: 0;
    padding: 5px;
    font-size: 1rem;
  }
}

.headerLeft {
  align-items: flex-start;
}

.headerRight {
  align-items: flex-end;
}

.headerMiddle {
  width: 40%;
  a {
    display: flex;
    justify-content: center;
    img {
      height: 9vh;
      width: auto;
    }
  }
}
@include tablet-screen-up {
  .headerContent {
    width: 70vw;
  }
  .headerLeft,
  .headerRight {
    p {
      font-size: 0.9rem;
    }
  }
}
@include tablet-landscape {
  .headerContent {
    width: 70vw;
  }
}

@include phone-screen {
  .Header {
    justify-content: center;
    padding-left: 7vw;
  }
  .headerContent {
    justify-content: center;

    .headerLeft,
    .headerRight {
      display: none;
    }
    .headerLeft.timeline {
      display: flex;
      position: absolute;
      left: 5%;
    }
  }
}
