
@import "mixin";

.LandingSchedule {
  display: flex;
  flex-direction: column;
  border: solid black 4px;
  height: auto;
  width: 100%;
}

.titleText {
  font-size: 5vw;
  font-weight: 800;
  line-height: 1.5;
}



.item1 {
  margin-top: 3vw;
  margin-left: 3vw;
}
.item2 {
  margin-top: 3vw;
  margin-left: 3vw;
  font-size: 3vw;
}
.item3 {
  padding: 3vw;
}


  @include tablet-landscape {

    .LandingSchedule {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 0.5fr 1fr;
      grid-template-areas:
    " a . "
    " a b "
    " . c "
    }
    .item1 {
      grid-area: a;
    
    }
    .item2 {
      grid-area: b;
      font-size: 2vw;
    }
    .item3 {
      grid-area: c;
    }

  }

  @include desktop-screen {
    .LandingSchedule {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 0.5fr 1fr;
      grid-template-areas:
    " a . "
    " a b "
    " . c "
    }
    .item1 {
      grid-area: a;
    
    }
    .item2 {
      grid-area: b;
      font-size: 2vw;
    }
    .item3 {
      grid-area: c;
    }

    
  
  }



  @include big-desktop-screen {
    .LandingSchedule {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 0.5fr 1fr;
      grid-template-areas:
    " a . "
    " a b "
    " . c "
    }
    .item1 {
      grid-area: a;
    
    }
    .item2 {
      grid-area: b;
      font-size: 2vw;
    }
    .item3 {
      grid-area: c;
    }

  }




.red {
  color: #e8592e;
}

.yellow {
  color: #fdc81e;
}

.blue {
  color: #4dcce5;
}