@import "mixin";

.landingPartners {
  border: solid black 4px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 3vw;
}

.CanvasContent {
  width: 60vw;
}

.partnerRow {
  display: flex;
  flex-flow: row wrap;
}

.item1 {
  padding: 20px 10px 0px 20px;
}

.item1 > p {
  padding: 10px;
}

.item1 > div {
  padding: 0px 10px 0px 10px;
}

.item2 {
  padding: 10px 10px 0px 20px;
  
}

.item2 > p {
  padding: 10px;
}

.item2 > div {
  padding: 0px 10px 0px 10px;
}

.item3 {
  padding: 10px 10px 20px 20px;
}

.item3 > p {
  padding: 10px;
}

.item3 > div {
  padding: 0px 10px 0px 10px;
}


@include desktop-screen {
  .landingPartners {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    " a b "
    " c c "; 
    font-size: 2vw;
  }

  .item1 {
  grid-area: a;
  }

  .item2 {
    grid-area: b;
    padding: 20px 10px 0px 20px;
      
  }

  .item3 {
    grid-area: c;
  }

}



@include big-desktop-screen {
  .landingPartners {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    " a b "
    " c c "; 
    font-size: 2vw;
  }

  .item1 {
  grid-area: a;
  }

  .item2 {
    grid-area: b;
    padding: 20px 10px 0px 20px;
  }

  .item3 {
    grid-area: c;
  }
}