
@import "mixin";

.LandingSchedule {
  display: flex;
  flex-direction: column;
  border: solid black 4px;
  height: auto;
  width: 100%;
}

.titleText {
  font-size: 4vw;
  font-weight: 800;
  line-height: 1;
}



.item1 {
}
.item2 {
  
}
.item3 {
  padding: 20px;
}

 
  @include tablet-landscape {


      

  }

  @include desktop-screen {

    
  
  }



  @include big-desktop-screen {

  }




.red {
  color: #e8592e;
}

.yellow {
  color: #fdc81e;
}

.blue {
  color: #4dcce5;
}