@import "mixin";

.modalContainer {
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(36, 38, 45, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;

  &.inactive {
    display: none;
  }
  .modalContent {
    position: relative;
    min-height: 30vmax;
    width: 50vw;
    background-color: white;
  }
  .icon {
    position: absolute;
    height: 2em;
    width: 2em;
    top: -2%;
    right: -2%;
    background-image: url("/img/exitNormal.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 10;
    &:hover {
      background-image: url("/img/exitHover.png");
    }
    &:active {
      background-image: url("/img/exitPressed.png");
    }
  }
}

@include phone-screen {
  .modalContainer {
    .modalContent {
      height: 80vmax;
      width: 50vmax;
    }
  }
}

@include tablet-landscape {
  .modalContainer {
    .modalContent {
      height: 40vmax;
      width: 70vmax;
    }
  }
}

@include tablet-screen-up {
  .modalContainer {
    .modalContent {
      height: 80vmax;
      width: 50vmax;
    }
  }
}
