@import "mixin";

.ScheduleList {
  display: flex;
  flex-direction: row;
  width: 60vw;
  margin-top: 2em;
  // &:first-child {
  //   > :nth-child(4),
  //   > :nth-child(5),
  //   > :nth-child(6) {
  //     margin-top: -0.5em;
  //   }
  // }
  // &:not(:first-child) {
  //   > :nth-child(4),
  //   > :nth-child(5),
  //   > :nth-child(6) {
  //     margin-top: 0.5em;
  //   }
  // }
}
.ScheduleDateSelector {
  div {
    height: 3em;
    max-height: 3em;
    width: 8em;
    max-width: 8em;
    font-family: "CircularStd";
    font-size: 13px;

    padding: 1px;
    border: 3px solid #b2b2b2;
    color: #b2b2b2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:last-child {
      margin-top: 10px;
    }
  }
  div.active {
    border: 3px solid #24262d;
    color: #24262d;
    font-weight: 800;
  }
}

.anchorButton,
.anchorButton:hover,
.anchorButton:visited,
.anchorButton:focus,
.anchorButton:active {
  text-decoration: none;
  color: inherit;
  outline: 0;
  cursor: auto;
}
@include phone-screen {
  .ScheduleDateSelector {
    div {
      height: 4vmax;
      width: 11vmax;
      font-size: 1.5vmax;
      &:last-child {
        margin-top: 5%;
      }
    }
  }
}

@include tablet-screen-up {
  .ScheduleDateSelector {
    div {
      height: 4vmax;
      width: 11vmax;
      font-size: 1.5vmax;
      &:last-child {
        margin-top: 5%;
      }
    }
  }
}

.infoText {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
