.ScheduleButton {
  width: 150px;
  height: 225px;
  border: #e8592e 4px solid;
  background-color: #fbe1d9;
  color: #e8592e;
  position: relative;
  font-weight: 800;
  letter-spacing: 0;
  cursor: pointer;

  &.Design {
    color: #e8592e;
    border: #e8592e 4px solid;
    background-color: #fbe1d9;
  }

  &.Business {
    border: #00a99d 4px solid;
    background-color: #d8f2f0;
    color: #00a99d;
  }
  &.Tech {
    color: #fdc81e;
    border: #fdc81e 4px solid;
    background-color: #fff7df;
  }

  .sideText {
    position: absolute;
    top: 0%;
    right: -3%;
    font-size: 10px;
    transform: rotate(270deg);
    transform-origin: 100% 100%;
    height: auto;
    width: auto;
    background-color: inherit;
    padding: 0 1em 0 1em;
  }
}
.ScheduleButtonTitle {
  margin: 15% 10%;
  font-size: 20px;
}
