@import "mixin";

.ScheduleButton {
  font-size: 20px;
  width: 10vw;
  // min-width: 150px;
  height: 30vh;
  min-height: 225px;
  border: #e8592e 4px solid;
  background-color: #fbe1d9;
  color: #e8592e;
  position: relative;
  font-weight: 800;
  letter-spacing: 0;
  cursor: pointer;

  &.Design {
    color: #e8592e;
    border: #e8592e 4px solid;
    background-color: #fbe1d9;
  }

  &.Business {
    border: #00a99d 4px solid;
    background-color: #d8f2f0;
    color: #00a99d;
  }
  &.Tech {
    color: #fdc81e;
    border: #fdc81e 4px solid;
    background-color: #fff7df;
  }

  .sideText {
    position: absolute;
    top: 0%;
    right: -3%;
    font-size: 10px;
    transform: rotate(270deg);
    transform-origin: 100% 100%;
    height: auto;
    width: auto;
    background-color: inherit;
    padding: 0 1em 0 1em;
  }
}
.ScheduleButtonTitle {
  margin: 15% 10%;
  font-size: 1vmax;
}
.ScheduleButtonSpeaker {
  font-size: 11px;
  margin: 15% 10%;
}

.PlaceTime {
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  bottom: 5%;
  left: 10%;
}

@include tablet-landscape {
  .ScheduleButton {
    width: 120px;
    height: 180px;
    min-width: 150px;

    .ScheduleButtonTitle {
      font-size: 15px;
    }
  }
}
@include tablet-screen-up {
  .ScheduleButton {
    width: 100px;
    height: 150px;
    min-width: 150px;

    .ScheduleButtonTitle {
      font-size: 15px;
    }
  }
}

@include phone-screen {
  .ScheduleButton {
    width: 100px;
    height: 150px;
    min-width: 150px;

    .ScheduleButtonTitle {
      font-size: 14px;
    }
  }
}
