@import "mixin";

.WorkshopCard {
  border: 6px solid #00a99d;
  background-color: #b2e5e1;
  color: #00a99d;
  padding: 3% 0 3% 3%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  &.Design {
    color: #e8592e;
    border: #e8592e 4px solid;
    background-color: #fbe1d9;
  }

  &.Business {
    border: #00a99d 4px solid;
    background-color: #d8f2f0;
    color: #00a99d;
  }
  &.Tech {
    color: #fdc81e;
    border: #fdc81e 4px solid;
    background-color: #fff7df;
  }
  .WorkshopCardLeft {
    display: flex;
    width: 45%;
    flex-direction: column;
    justify-content: space-between;
    .CardTitle {
      font-size: 38px;
      font-weight: 800;
    }
    .CardContent {
      font-size: 20px;
      font-weight: 600;
      height: 50%;
    }
    .CardTime {
      font-size: 15px;
      font-weight: normal;
      font-style: italic;
    }
  }
  .WorkshopCardRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .CardSpeakerPicture {
      img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
      }
    }
    .CardSpeakerName {
      font-weight: 800;
      font-size: 20px;
    }
    .CardSpeakerTitle {
      font-weight: 600;
      font-size: 15px;
    }
  }
  .WorkshopCardSide {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .CardType {
      transform: rotate(270deg);
      transform-origin: 50% 0%;
      font-weight: 800;
      font-size: 15px;
      right: 0;
    }
  }
}

@include tablet-landscape {
  .WorkshopCard {
  }
}

@include phone-screen {
  .WorkshopCard {
    .WorkshopCardLeft {
      .CardTitle {
        font-size: 25px;
        font-weight: 600;
      }
      .CardContent {
        font-size: 15px;
        font-weight: 400;
        height: 50%;
      }
      .CardTime {
        font-size: 12px;
        font-weight: normal;
        font-style: italic;
      }
    }
    .WorkshopCardRight {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .CardSpeakerPicture {
        img {
          height: 100px;
          width: 100px;
          border-radius: 50%;
        }
      }
      .CardSpeakerName {
        font-weight: 400;
        font-size: 12px;
      }
      .CardSpeakerTitle {
        font-weight: 400;
        font-size: 12px;
      }
    }
    .WorkshopCardSide {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .CardType {
        transform: rotate(270deg);
        transform-origin: 50% 0%;
        font-weight: 400;
        font-size: 12px;
        right: 0;
      }
    }
  }
}
