@import "mixin";

.WorkshopCard {
  position: absolute;
  border: 6px solid #00a99d;
  background-color: #b2e5e1;
  color: #00a99d;
  padding: 3% 0 3% 3%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  &.Design {
    color: #e8592e;
    border: #e8592e 4px solid;
    background-color: #fbe1d9;
  }

  &.Business {
    border: #00a99d 4px solid;
    background-color: #d8f2f0;
    color: #00a99d;
  }
  &.Tech {
    color: #fdc81e;
    border: #fdc81e 4px solid;
    background-color: #fff7df;
  }
  .WorkshopCardLeft {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: space-between;
    .CardTitle {
      font-size: 1.7vmax;
      font-weight: 800;
    }
    .WorkshopCardMid {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      .CardContent {
        font-size: 1.1vmax;
        font-weight: 600;
        height: 50%;
        width: 26vmax;
        overflow: auto;
      }
      .CardSpeaker {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .CardSpeakerPicture {
          img {
            height: 10vmax;
            width: 10vmax;
            border-radius: 50%;
          }
        }
        .CardSpeakerName {
          font-weight: 800;
          font-size: 1.1vmax;
        }
        .CardSpeakerTitle {
          font-weight: 600;
          font-size: 1.05vmax;
        }
      }
    }
    .CardTime {
      font-size: 1.1vmax;
      font-weight: normal;
      font-style: italic;
    }
  }

  .WorkshopCardSide {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .CardType {
      transform: rotate(270deg);
      transform-origin: 50% 0%;
      font-weight: 800;
      font-size: 1.1vmax;
      right: 0;
    }
  }
}

@include phone-screen {
  .WorkshopCard {
    .WorkshopCardLeft {
      display: flex;
      width: 80%;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      .CardTitle {
        text-align: center;
        font-size: 1.1rem;
        font-weight: 800;
      }
      .WorkshopCardMid {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 80%;
        .CardContent {
          text-align: center;
          font-size: 0.6rem;
          font-weight: 600;
          margin: 1rem 0;
          height: 50%;
          overflow: scroll;
        }
        .CardSpeaker {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .CardSpeakerPicture {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1rem 0;
            img {
              height: auto;
              width: 60%;
              border-radius: 50%;
            }
          }
          .CardSpeakerName {
            font-weight: 800;
            font-size: 0.8rem;
          }
          .CardSpeakerTitle {
            font-weight: 600;
            font-size: 0.7rem;
          }
        }
      }
      .CardTime {
        font-size: 0.7rem;
        font-weight: normal;
        font-style: italic;
      }
    }
  }
}

@include tablet-screen-up {
  .WorkshopCard {
    .WorkshopCardLeft {
      display: flex;
      width: 80%;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      .CardTitle {
        text-align: center;
        font-size: 1.4rem;
        font-weight: 800;
      }
      .WorkshopCardMid {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 80%;
        .CardContent {
          text-align: center;
          font-size: 0.8rem;
          font-weight: 600;
          margin: 1rem 0;
          height: 50%;
          overflow: scroll;
        }
        .CardSpeaker {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .CardSpeakerPicture {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1rem 0;
            img {
              height: auto;
              width: 60%;
              border-radius: 50%;
            }
          }
          .CardSpeakerName {
            font-weight: 800;
            font-size: 1rem;
          }
          .CardSpeakerTitle {
            font-weight: 600;
            font-size: 0.8rem;
          }
        }
      }
      .CardTime {
        font-size: 0.9rem;
        font-weight: normal;
        font-style: italic;
      }
    }
  }
}
