@font-face {
  font-family: "CircularStd";
  src: url("/fonts/CircularStd-Black.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd";
  src: url("/fonts/CircularStd-BlackItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "CircularStd";
  src: url("/fonts/CircularStd-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd";
  src: url("/fonts/CircularStd-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "CircularStd";
  src: url("/fonts/CircularStd-Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd";
  src: url("/fonts/CircularStd-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd";
  src: url("/fonts/CircularStd-BookItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "CircularStd";
  src: url("/fonts/CircularStd-Medium.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd";
  src: url("/fonts/CircularStd-MediumItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #f2f2f2;
  font-family: "CircularStd";
  font-size: 20px;
}

.App {
  align-items: center;
}

.Canvas {
  height: 70vh;
  width: 100vw;
  top: 15vh;
  position: absolute;
  overflow: scroll;
  display: flex;
  justify-content: center;
  &::-webkit-scrollbar {
    display: none;
  }
}
.Navbar {
  float: right;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  .navButton {
    border-left: solid black 4px;
    height: 33.33vh;
    width: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    .navButton-name {
      transform: rotate(270deg);
      min-width: 20vh;
      text-align: center;
      text-decoration: none;
      color: gray;
      font-weight: 600;
    }
    .navButton-name.active {
      color: black;
    }
  }
}

.partnerPicture {
  height: 43px;
  width: 43px;
  border-radius: 50%;
  margin-right: 30px;
  background-color: black;
  &:last-child {
    margin-right: 0px;
  }
}

.CanvasContent {
  width: 60vw;
}

.btn {
  cursor: pointer;
  display: inline-block;
  background-color: #b2b2b2;
  height: 200px;
  width: 200px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  background-color: black;
  div {
    width: 50%;

    text-align: center;

    color: white;
  }
}

.container {
  display: flex;
  flex-direction: row;
  border: 3px solid black;
  width: 60%;
}

.item-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
  width: 50%;
  height: 60vh;
}

.item-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
  height: 60vh;
}

h1 {
  font-size: 50px;
  line-height: 2;
}

.green {
  color: rgb(0, 169, 157);
}

.flex-container1 {
  display: flex;
  flex-direction: column;
  background-color: black;
  div {
    width: 50%;

    text-align: center;
  }
}

.flex-container0 {
  display: flex;
  flex-direction: column;
  background-color: black;
  div {
    width: 50%;

    text-align: center;
  }
}

.footer {
  width: 100%;
}

.paragrath {
  width: 80%;
  margin: 10px;
  margin-bottom: 30px;
}

.button {
  width: 80%;
  height: 150px;
  border: 3px solid black;
  font-size: 40px;
  background-color: grey;
}
